@use '../variables.scss' as *;

body {
  margin: 0;
  padding: 0;
}


.country-detail-page{
    overflow: hidden;
    padding-bottom: 104px;

    .header-country-detail{
        background: none;
        padding: 0;
        border: none;
        .detail-image{
            width: 100vw;
            height: 300px;
            object-fit: cover;
        }

        .back-button {
            background: none;
            border: none;
            cursor: pointer;
            position: fixed;
            top: 20px;
            right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            

            svg {
                z-index: 900;
                color: red;
                transition: transform 0.2s ease, color 0.2s ease;
                height: 60px;
                width: 60px;
                border-radius: 50%;
                box-shadow: $box-shadow;
                border: 1px solid $color-border;
                backdrop-filter: blur(5px);
                background-color: rgba(255, 255, 255, 0.062);
            }

            &:hover svg {
                transform: scale(1.05);
                opacity: 0.8;
                color: $color-accent-strong;
            }

            &:active svg {
                transform: scale(0.95);
            }
            }


        .header-box{
            border-radius: $border-radius;
            background: #fff;
            box-shadow: $box-shadow;
            width: fit-content;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            gap: 20px;
            position: absolute;
            top: 300px;
            transform: translate(-50%, -50%);
            left: 50%;
            z-index: 100;
            h1{
                text-align: center;
                margin: 10px;
                margin-left: 20px;
                font-family: $font-family-header;
                color: $color-text-dark;
                font-size: $base-font-size * $golden-ratio * $golden-ratio;
                text-shadow: $box-shadow;
                font-weight: 600; 
                white-space: nowrap;
            }
            .detail-flag{
                    height: 42px;
                    border-radius: $border-radius;
                    margin: 10px;
                    margin-right: 20px;
                }
        }
    }
    
    
    .detail-box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 250px;
        gap: 20px;
        margin-top: 30px;

        .detail-image{
            width: 80%;
            height: 350px;
            object-fit: cover;
            margin-top: 20px;
            border-radius: $border-radius;
            box-shadow: $box-shadow;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            justify-self: center;
        }
        
        .detail-info{
            font-family: $font-family-primary;
            color: $color-text-dark;
            font-size: $base-font-size;
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            margin-top: 20px;
            width: 95vw;
            margin-left: auto;
            margin-right: auto;

            
            
            .detail-text{
                box-shadow: $box-shadow;
                background-color: #fff;
                border-radius: $border-radius;
                width: 48.51%;
                display: grid;
                grid-template-rows: 40px 50px;
                grid-template-columns: 50px auto;
                align-items: center;
                justify-items: start;
                
                svg{
                    height: 16px;
                    width: 16px;
                    color: $color-accent-strong;
                    display: block;
                    margin-left: 20px;
                    justify-self: start;
                    grid-row: 1/2;
                    grid-column: 1/2;
                }

                .bold-info{
                    font-weight: 400;
                    text-align: left;
                    text-shadow: $box-shadow;
                    display: inline-block;
                    font-size: $base-font-size;
                    font-family: $font-family-header;
                    grid-row: 1/2;
                    grid-column: 2/3;
                }
                .regular-info{
                    font-weight: 500;
                    text-align: left;
                    margin: 0;
                    margin-left: 20px;
                    text-shadow: $box-shadow;
                    display: block;
                    font-size: $base-font-size * $golden-ratio;
                    font-family: $font-family-primary;
                    grid-row: 2/3;
                    grid-column: 1/3;
                }

            }
            .flag{
                display: none;
            }
        }
        .detail-map{
            border-radius: $border-radius;
            box-shadow: $box-shadow;
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            justify-self: center;
            align-self: center;
            width: 95vw;
            height: 100%;
            border: none;
        }
    }

}


@media screen and (max-width: 900px){
    .country-detail-page{
    .header-country-detail{
        .header-box{
            h1{
                text-align: center;
                margin: 10px;
                margin-left: 20px;
                font-size: $base-font-size * $golden-ratio;
                
            }
            .detail-flag{
                    height: 25px;
                    margin-right: 20px;
                }
            }}
    }
}


@media screen and (max-width: 710px) {
  .country-detail-page {
    .header-country-detail{
        .header-box{
            h1{
                text-align: center;
                margin: 10px;
                margin-left: 20px;
                
            }
            .detail-flag{
                    border-radius: 0;
                    height: 25px;
                    margin-right: 20px;
                }
            }}
    .detail-box {
        
      .detail-info {
        width: 90vw;
        .detail-text {
          width: 100%;
        }
      }
      .detail-map{
            width: 90vw;
        }
    }
  }
}

@media screen and (max-width: 495px) {
  .country-detail-page {
    .header-country-detail{
        .header-box{
            h1{
                text-align: center;
                margin: 10px;
                margin-left: 10px;
                
            }
            .detail-flag{
                    display: none;
                }
            }}
    .detail-box {
        
      .detail-info {
        width: 90vw;
        .detail-text {
          width: 100%;

          
        }
        .flag{
            display: grid;
            img{
                
                margin-left: 20px;
                grid-column: 1/3;
                grid-row: 2/3;
                height: 30px;
            }
        }
      }
      .detail-map{
            width: 90vw;
        }
    }
  }
}