@use '../variables.scss' as *;

body, html, #root, .main-page-placeholder {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: $font-family-primary;
    background: #fafafa;
    
    
}
.page-header{
    position: relative;
    margin: 0;
    z-index: 10;
    background-color: $color-text-dark;
    width: 100%;
    

    .plus-icon{
        color: $color-accent-strong;
        position: absolute;
        right: 2.5vw;
        top: 50%;
        transform: translate(0%, -50%);
        width: 45px;
        height: 45px;
        cursor: pointer;
    }

    h1 {
        font-size: $base-font-size*$golden-ratio*$golden-ratio;
        color: #fff;
        font-family: $font-family-header;
        text-shadow: $box-shadow-light;
        margin: 0;
        letter-spacing: $letter-spacing-header; 
        position: absolute;
        top: 20px;
        left: 2.5vw;
        font-weight: bold;
    }
    .subtitle-mainPage{
        font-size: $base-font-size;
        color: #fff;
        font-family: $font-family-primary;
        text-shadow: $box-shadow-light;
        margin: 0;
        position: absolute;
        top: 70px;
        left: 2.5vw;
    }
}
main {
    padding: 0;
    margin: 0;
    padding-bottom: 48px;
    
    
    #travel-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 100%;
    }

    .right-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    }

}


@media screen and (max-width: 1330px){
    main {
    #travel-grid {
    grid-template-columns: 1fr;
    }
}
}

@media screen and (max-width: 760px){
   .page-header{
    .subtitle-mainPage{
        display: none;
    }

    h1 {
        top: 50%;
        transform: translate(0%, -50%);
    }
}
}
    

@media screen and (max-width: 710px){

    .page-header{
    padding-bottom: 70px;
    

    .plus-icon{
        right: 5vw;
        width: 35px;
        height: 35px;
    }

    h1 {
        font-size: $base-font-size*$golden-ratio;
        left: 5vw;
        
    }
    .subtitle-mainPage{
        left: 5vw;
    }
}

main {
    #travel-grid {
    width: 90vw;
    }
}
}
   

   