@use '../variables.scss' as *;

header{
    width: 100%;
    background: $color-text-dark;
    border-bottom: 1px solid $color-border;
    padding-bottom: 100px;

    .avatar{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid $color-accent-strong;
        box-shadow: $box-shadow;
        margin-top: 20px;
    }
    h2{
        font-size: $base-font-size * $golden-ratio;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        color: #fff;
        letter-spacing: $letter-spacing-header;
        font-family: $font-family-primary;
        text-shadow: $box-shadow-light;
    }

    p{
        font-size: $base-font-size;
        margin: 0;
        color: #fff;
        font-family: $font-family-primary;
        text-shadow: $box-shadow-light;
    }

}
main{
    .travel-stats{
        position: absolute;
        top: 230px;
        left: 50%;
        transform: translateX(-50%);
    }
}