@use '../variables.scss' as *;

.bottom-menu-placeholder {
  display: flex;
  position: fixed;
  z-index: 900;
  width: 100%;
  bottom: 0;
  justify-content: space-around;
  align-items: center;
  color: $color-white;
  background: rgba(255, 255, 255, 0.856);
  border-top: 1px solid #e4e1e1ff;


  .LinkSettings,
  .LinkCountries,
  .LinkHome,
  .LinkProfile {
    text-decoration: none;
    color: $color-text-dark;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease-in-out;

    p {
      margin: 0;
      letter-spacing: 0px;
      font-weight: bold;
      padding-bottom: 10px;
    }

    &.active {
      color: $color-accent-strong;

      .menu-icon {
        color: $color-accent-strong;
      }
    }

    &:not(.active) {
      &:hover {
        opacity: 0.7;
        transition: 0.3s ease-in-out;
        transform: scale(1.03);
      }
      &:active {
        transform: scale(0.97);
        transition: 0.1s ease-in-out;
      }
    }
  }

  .menu-icon {
    width: 45px;
    height: 45px;
    cursor: pointer;
    padding: 10px 0 0 0;
}
}



@media screen and (max-width: 710px){
  .bottom-menu-placeholder {
  .LinkSettings,
  .LinkCountries,
  .LinkHome,
  .LinkProfile {
    p {
      display: none;
    }
  }
  .menu-icon {
    width: 45px;
    height: 45px;
    cursor: pointer;
    padding: 10px 0 10px 0;
}
}
}

@media screen and (max-width: 500px){
  .bottom-menu-placeholder {
  .menu-icon {
    width: 40px;
    height: 40px;
}
}
}