@use '../variables.scss' as *;

.continent-stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1; 
  background-color: white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 20px 0; 
  margin: 0;
  gap: 24px; 

  .continent-row {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding: 0 24px;
    flex: 1; 
    justify-content: center;

    .continent-label {
      display: flex;
      justify-content: space-between;
      font-size: $base-font-size * 1.05;
      font-family: $font-family-primary;
    }

    .progress-bar {
      height: 14px;
      background: #e4e1e1ff;
      border-radius: 6px;
      overflow: hidden;
      width: 100%;

      .progress-fill {
        height: 100%;
        background: $color-accent-strong;
        transition: width 0.5s ease;
      }
    }
  }
}

@media screen and (max-width: 1330px){
  .continent-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0;
  }
}

@media screen and (max-width: 1050px){
  .continent-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0;
  }
}

@media screen and (max-width: 820px){
  .continent-stats {
  display: flex;
  }
}