@use '../variables.scss' as *;

// Karta si vezme své plné velké rozměry buď v horizontálním scrollu, nebo ve spodním pásu detailu země
.scroll-container .country-card,
.countries-flex-layout .country-card {
  flex: 0 0 auto;
  background: $color-card-bg;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 80px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  transition: transform 0.2s ease;
  width: 200px;
  height: 280px;
  cursor: pointer;
  justify-items: center;

  picture {
    display: contents; 
  }

  .country-image {
    justify-self: center;
    align-self: flex-start;
    overflow: hidden;
    height: 200px;
    width: 190px;
    margin-top: 5px;
    border-radius: $border-radius;
    object-fit: cover;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    transition: transform 0.4s ease;
    z-index: 1; 
  }

  &:hover {
    transform: scale(1.03);
  }

  &:active {
    opacity: 0.8;
    transform: scale(0.95);
  }

  .country-info {
    display: contents; 
    
    .flag-icon {
      width: 40px;
      height: auto;
      position: relative;
      top: -110px; 
      left: 65px;
      box-shadow: $box-shadow;
      z-index: 10; 
    }
  }

  .country-name {
    font-size: $base-font-size;
    font-weight: bold;
    color: $color-text-dark;
    font-family: $font-family-primary;
    display: block;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
}

// Mobilní responzivita pro velké karty (zmenšení na 170px na mobilech)
@media screen and (max-width: 710px) {
  .scroll-container .country-card,
  .countries-flex-layout .country-card {
    width: 170px;
    height: 250px;

    .country-image {
      height: 170px;
      width: 160px;
    }

    .flag-icon {
      top: -95px; 
      left: 55px;
    }
  }
}