@use '../variables.scss' as *;

.map-legend {
  .progress-ring {
    transform: rotate(-90deg); // začátek odshora
  }

  .progress-ring__background {
    stroke: #e4e1e1ff;
  }

  .progress-ring__circle {
    transition: stroke-dashoffset 0.5s ease;
    stroke-linecap: round;
  }

  .legend-info {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: $color-white;
    border-radius: $border-radius;
    padding: 10px 0;
    margin: 0;
    height: 100px;
    text-align: center;
    box-shadow: $box-shadow;
    align-items: center;
    font-family: $font-family-primary;


    .percents{
      padding-right: 20px;
    }
    .countries{
      padding-left: 20px;
    }
    
    .legend-number {
      font-size: $base-font-size * $golden-ratio*$golden-ratio;
      font-weight: bold;
      margin: 0;
      font-family: $font-family-primary;
      
    }

    .legend-label {
      font-size: $base-font-size;
      color: #666;
      margin: 0;
      font-family: $font-family-primary;

    }
  }
}
