@use '../variables.scss' as *;

.goal-progress {
  width: 95vw;
  text-align: center;
  background-color: white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 10px 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  h2 {
    font-size: $base-font-size * $golden-ratio;
    margin-bottom: 10px;
    font-family: $font-family-header;
  }

  .progress-count {
    font-size: $base-font-size;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    font-family: $font-family-primary;
  }

  .progress-bar {
    width: calc(100% - 40px);
    height: 14px;
    background: #e4e1e1ff;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 10px;
    justify-self: center;

    .progress-fill {
      height: 100%;
      background: $color-accent-strong;
      transition: width 0.5s ease;
    }
  }

  .progress-remaining {
    font-size: $base-font-size;
    color: #666;
    font-family: $font-family-primary;
  }
}

@media screen and (max-width: 710px){
.goal-progress {
  width: 90vw;
}
}