@use '../variables.scss' as *;

.travel-stats{
    display: grid;
    width: 95vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px 130px;
    margin: 0 auto;
    background: #fff;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    justify-items: center;
    align-items: center;

    .stat-box{
        display: grid;
        grid-template-rows: 35px 35px;
        grid-template-columns: 70px 140px;
        width: 210px;
        height: 70px;
        justify-items: center;
        align-items: center;

        svg{
            color: $color-accent-strong;
            grid-column: 1/2;
            grid-row: 1/3;
            height: 50px;
            width: 50px;
            text-shadow: $box-shadow;
        }

        .stats-amount{
            font-size: $base-font-size * $golden-ratio;
            margin: 0;
            color: $color-text-dark;
            font-family: $font-family-primary;
            text-shadow: $box-shadow;
            grid-column: 2/3;
            grid-row: 1/2;
            font-weight: 600;
            justify-self: start;
            margin-left: 10px;

        }
        .stats-label{
            font-size: $base-font-size;
            margin: 0;
            color: $color-text-dark;
            font-family: $font-family-primary;
            text-shadow: $box-shadow;
            grid-column: 2/3;
            grid-row: 2/3;
            justify-self: start;
            margin-left: 10px;
        }
    }
    

}

@media screen and (max-width: 710px){
    .travel-stats{
    width: 90vw;
    grid-template-rows: 130px 130px 130px 130px;

    .countries{
        grid-row: 1/2;
    }
    .continents{
        grid-row: 2/3;
    }
    .travel-goal{
        grid-row: 3/4;
    }
    .since-box{
        grid-row: 4/5;
    }
    }
}